.dodavanjeUTablicu{
	color:white; 
}

html
{
	text-align: center;
}

.slike
{
	height:10px;
	width:10px;
}

#tablicaPodataka
{
background-color: turquoise;
color:tomato;
}

tr{cursor: pointer; transition: all .25s ease-in-out}
            .selected{background-color: red; font-weight: bold; color: #fff;}